{% extends "_layout" %}
{# One entry Detail pagina #}

{% block content %}
    <section class="clothing-details">
    <div class="flexBox">  
        <img src="{{entry.bannerImage.one().url('thumbnailImage')}}" alt="">
        <div>
        <h2>{{entry.title}}</h2>
        <p>{{entry.introText}}</p>
        </div>
    </div>
    <p>{{entry.fullText}}</p>
       
    </section>
{% endblock %}