{% extends "_layout" %}

{% block content %}
<section class="about-section">
    {{entry.richText}}

    <picture>
        <source media="(min-width:1000px)" srcset="{{entry.aboutMeImage.one().url('aboutMeImage')}}">
        <img src="{{entry.aboutMeImage.one().url('aboutMeImage')}}" alt="">
    </picture>
</section>
{% endblock %}